<h2 class="text-center name mb-5">Contato</h2>

<div class="container mb-5">
<p style="font-family: 'Poppins', sans-serif;">Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
    when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
</div>

<div class="container about mb-5">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2993.5806281807313!2d2.1646781149270926!3d41.38319530421886!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12a4a2f5ac8c5ed1%3A0x8efd28fd5e2c7b2a!2sBarcelona%20Museum%20of%20Contemporary%20Art!5e0!3m2!1sen!2sbr!4v1595200020376!5m2!1sen!2sbr" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
            </div>
            <div class="contact mt-5">
                <ul>
                    <li><i class="fa fa-map-marker" aria-hidden="true"></i> Address: 198 West 21th Street, Suite 721 New York NY 10016</li>
                    <li><i class="fa fa-phone" aria-hidden="true"></i> (+55) 1235 2355</li>
                    <li><i class="fa fa-envelope" aria-hidden="true"></i> info@yoursite.com</li>
                </ul>
            </div>
        </div> 
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <form class="mb-5" action="" method="POST" enctype="">
                <div class="form-group">
                    <label for="name">Seu nome:</label>
                    <input type="text" class="form-control" name="name">
                </div>

                <div class="form-group">
                    <label for="email">Seu e-mail:</label>
                    <input type="email" class="form-control" name="email">
                </div>

                <div class="form-group text-center">
                    <label for="message"><strong>Mensagem: </strong></label>
                    <textarea class="form-control" name="message" rows="10"></textarea>
                </div>

                <button type="submit" class="btn btn-warning btn-msg">Enviar</button>
            </form>
        </div>   
    </div>
</div>