@import url('https://fonts.googleapis.com/css2?family=Anton&family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
}

.body-post{
    padding: 40px;
    font-family: 'Poppins', sans-serif;
}

.content-post{
    width: 63%;
    border-radius: 5px;
    box-shadow: 0px 1px 6px 0px rgba(158,158,158,1);
    padding: 30px;
    float: left;
    margin-right: 10px;
}

.image-post, .content-post img{
    max-width: 700px;
    max-height: 500px;
    margin: 0 auto;
}

.image-post img, .content-post img, .photo-author img{
    width: 100%;
    height: 100%;
    object-fit: contain; 
    object-position: center;
}

.title-post{
    color: rgba(0, 0, 0, 0.8);
}

.date-post, .category{
    color: rgba(0, 0, 0, 0.5);
    font-size: 14px;
}

.card-author{
    border-radius: 5px;
    box-shadow: 0px 1px 6px 0px rgba(158,158,158,1);
    display: flex;
}

.photo-author{
    width: 40%;
    height: 100%;
    padding: 10px;
}

.desc-author{
    padding: 30px 10px;
}

.social-author ul li{
    list-style: none;
    display: inline-block;
    color: rgb(255, 192, 56);
    font-size: 20px;
    border: 1px solid rgb(255, 192, 56);
    border-radius: 8px;
    padding: 5px 10px;
    transition: .3s ease;
}

.social-author ul li:hover{
    color: #FFF;
    background-color: rgb(255, 192, 56);
}

.sidebar{
    border-radius: 5px;
    box-shadow: 0px 1px 6px 0px rgba(158,158,158,1);
    float: right;
    padding: 30px;
}

.sidebar h5{
    font-weight: 700;
    font-size: 18px;
}

.sidebar .search{
    width: 100%;
}

.btn-search{
    position: absolute;
    right: 30px;
    border: none;
    transition: .3s ease;
}

.btn-search:hover{
    color: #FFF;
}

.categories-list ul li{
    list-style: none;
    font-size: 15px;
    letter-spacing: -1px;
    color: rgb(26, 26, 26);
    transition: .3s ease;
}

.categories-list a, .recent-posts a{
    text-decoration: none;
}

.categories-list ul li:hover{
    color: rgb(255, 192, 56);
}

.block-recent-post{
    display: flex;
}

.recent-post-image{
    height: 80px;
    width: 80px;
}

.recent-post-image img{
    width: 100%;
    height: 100%;
    object-fit: contain; 
    object-position: center;
}

.recent-post-text{
    width: calc(100% - 100px);
    display: inline-block;
    margin-left: 20px;
}

.recent-post-text h4{
    color: rgb(26, 26, 26);
    font-size: 16px;
    transition: .3s ease;
}

.recent-post-text h4:hover{
    color: rgb(255, 192, 56);
}

.recent-post-text span{
    color: gray;
    font-size: 12px;
}

@media screen and (max-width: 991px){
    .content-post{
        width: 100%;
        float: none;
        margin-bottom: 30px;
    }

    .sidebar{
        float: none;
    }
}

@media screen and (max-width: 766px){
    .body-post{
        padding: 10px;
    }

    .card-author{
        display: block;
    }

    .photo-author{
        margin: 0 auto;
    }

}

@media screen and (max-width: 500px){
    .content-post{
        padding: 10px;
    }

    .content-post h2{
        font-size: 25px;
    }
}